<h1> Welcome to UnOsmium </h1>
<p> If you're new here, you can create a new user profile here: </p>
<%= link_to "Create a User", new_user_path %>
<p> If you're a tournament director, start your tournament here </p>
<%= link_to "Start Tournament", new_tournament_path %>
<p> You can see a list of ongoing tournaments here</p>
<%= link_to "All Tournaments", tournaments_path %>

<p> All users, for development purposes </p>
<table>
  <% @users.each do |user| %>
  <tr>
    <td> <%= user.full_name %> </td>
    <td> <%= user.email %> </td>
    <td> <%= link_to "see", user_path(user.id) %> </td>
  </tr>
  <% end %>
</table>