<h1> Tourmanent Homepage</h1>
<p> Hello! </p>
<p> This is <%= @tournament.name %> on <%= @tournament.date %> </p>

<%= link_to "Tournament Events", tournament_events_path(@tournament.id) %>
<p> Or: </p>
<%= link_to "Tournament Teams", tournament_teams_path(@tournament.id) %>
<p> Or: </p>
<%= link_to "Admins", tournament_admin_roles_path(@tournament.id) %>
<p> Or: </p>
<%= link_to "Event Supervisors", tournament_event_supervisor_roles_path(@tournament.id) %>