<h1> Add an Event </h1>
<%= form_for @event, as: :event, url: tournament_events_path do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Trial: <%= f.check_box :trial %></p>
  <p>Scoring Type <%= f.select :scoring, Event.scorings.keys %> </p>
  <p><%= f.submit %></p>
<% end %>

